<h3 class="mt-2 text-black-50">Por Región: <small class="text-black-50">{{regionActivo|titlecase}}</small></h3>
<hr>
<div class="row">
  <div class="col">
    <button *ngFor="let region of regiones" [ngClass]="btnActive(region)" (click)="regionActive(region)">
      {{region | titlecase}}
    </button>

  </div>
</div>
<hr>
<div *ngIf="error" class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Sin resultados!</strong> No se encontró ningun resultado para search.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<app-table-country [countries]="countries"></app-table-country>
