<ng-template #alertInfo>
  <div class="flex bg-blue-100 rounded-lg p-4 mb-4 text-sm text-blue-700" role="alert">
    <svg class="w-5 h-5 inline mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path>
    </svg>
    <div>
      <span class="font-medium">Por favor!</span> espere...
    </div>
  </div>
</ng-template>

<div class="p-6" *ngIf=" country; else alertInfo">
  <div class="bg-white border border-gray-100 shadow-md shadow-black/5 p-6 rounded-md ">
    <div class="flex justify-between mb-4 items-start">
      <div class="font-medium">Details</div>
    </div>
    <div class="overflow-hidden">
      <table class="w-full min-w-[540px]">
        <tbody>
          <tr>
            <td class="py-2 px-4 border-b border-b-gray-50">
              <img [src]="country.flags.svg" alt="" class="w-8 h-8 rounded object-cover block" [alt]="country.name.common">
            </td>
            <td class="py-2 px-4 border-b border-b-gray-50">
              Pais: <span class="text-[13px] font-medium text-gray-400">{{country.name.common}}</span>
            </td>
            <td class="py-2 px-4 border-b border-b-gray-50">
              Capital: <span class="text-[13px] font-medium text-gray-400">{{country.capital}}</span>
            </td>
            <td class="py-2 px-4 border-b border-b-gray-50">
              Población: <span class="text-[13px] font-medium text-gray-400"> {{country.population| number}}</span>
            </td>
          </tr>
          <tr>
            <td class="py-2 px-4 border-b border-b-gray-50">
              Traducciones: <span class="text-[13px] font-medium text-gray-400"> {{country.translations['ara'].common}}</span>
            </td>
            <td class="py-2 px-4 border-b border-b-gray-50">
              <span class="text-[13px] font-medium text-gray-400"> {{country.translations['urd'].common}}</span>
            </td>
            <td class="py-2 px-4 border-b border-b-gray-50">
              <span class="text-[13px] font-medium text-gray-400"> {{country.translations['zho'].common}}</span>
            </td>
            <td class="py-2 px-4 border-b border-b-gray-50">
              <span class="text-[13px] font-medium text-gray-400"> {{country.translations['per'].common}}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>